.artist__filters {
  padding-top: calc(60px + 10vh);
  padding-bottom: 50px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: min(90%, 650px);
  cursor: pointer;
}

.artist__filter {
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid;
  &:hover,
  &--active {
    background-color: rgb(54, 29, 3);
    color: var(--milktea-bg);
  }
}

.artist__name {
  position: fixed;
  right: -15px;
  top: 40%;
  letter-spacing: 5vh;
  font-size: 30px;
  font-family: fantasy;
  color: transparent;
  -webkit-text-stroke: 1px var(--lightBg-text);
  user-select: none;
  writing-mode: vertical-rl;
  transition: transform 0.5s ease-in-out;
  &:hover {
    transform: translate3d(-20px, 0, 0);
  }
}

.artist__empty {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 50px;
}

@media screen and (min-width: 600px) and (min-height: 300px) {
  .artist__empty {
    top: 450px;
    right: 50px;
    width: 400px;
  }
  .artist__filters {
    padding-top: calc(120px + 10vh);
  }
}

@media screen and (min-width: 600px) and (min-height: 800px) {
  .artist__filters {
    padding-top: calc(60px + 10vh);
  }
}

@media screen and (min-width: 1000px) {
  .artist__filters {
    padding-top: calc(80px + 10vh);
  }
}

@media screen and (min-width: 1200px) {
  .artist__empty {
    width: 300px;
    right: 100px;
    transform: translate3d(0, -25%, 0);
  }
  .artist__filters {
    padding-top: calc(130px + 10vh);
  }
}

@media screen and (min-width: 1000px) and (max-height: 700px) {
  .artist__empty {
    width: 150px;
    right: 20px;
  }
}
