.card-container {
  display: grid;
  width: min(calc(100% - 100px), 1100px);
  padding-inline: 50px;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--p) * 3);
}

.card {
  width: 100%;
  text-align: justify;
  h2,
  h3 {
    padding-top: 5px;
  }
}

@media screen and (min-width: 450px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--p) * 5);
  }
}

@media screen and (min-width: 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card__img {
  width: 100%;
  aspect-ratio: 3/4;
  object-position: center;
  object-fit: cover;
  &:hover {
    rotate: -10deg;
  }
}

.card:nth-child(8n + 1) .card__img,
.card:nth-child(8n + 3) .card__img,
.card:nth-child(8n + 6) .card__img,
.card:nth-child(8n + 8) .card__img {
  border-radius: 85.71% 85.71% 19.05% 19.05%/70.59% 70.59% 15.69% 15.69%;
}

.card:nth-child(8n + 2) .card__img {
  border-radius: 9.52% 76.19% 9.52% 9.52%/7.84% 62.74% 7.84% 7.84%;
}

.card:nth-child(8n + 4) .card__img,
.card:nth-child(8n + 5) .card__img {
  border-radius: 9.52% 9.52% 76.19% 9.52%/7.84% 7.84% 70.58% 7.84%;
}

.card:nth-child(8n + 7) .card__img {
  border-radius: 19.05% 19.05% 85.71% 85.71%/15.69% 15.69% 70.59% 70.59%;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 2) {
  animation: LTR 0.4s linear;
}

.card:nth-child(4n + 3),
.card:nth-child(4n + 4) {
  animation: RTL 0.4s linear;
}

@keyframes LTR {
  0% {
    transform: translate3d(-300px, -200px, 0) scale(1.2);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes RTL {
  0% {
    transform: translate3d(300px, 200px, 0) scale(1);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
