.card {
  width: 100%;
  text-align: left;
  color: hsl(82, 37%, 17%);
  h2,
  h3 {
    padding-top: 5px;
  }
}

.card__img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  aspect-ratio: 3/4;
  &:hover {
    rotate: -10deg;
  }
}

:is(
    :nth-child(8n + 1),
    :nth-child(8n + 3),
    :nth-child(8n + 6),
    :nth-child(8n)
  ).card
  .card__img {
  border-radius: 85.71% 85.71% 19.05% 19.05%/70.59% 70.59% 15.69% 15.69%;
}

:is(:nth-child(8n + 2)).card .card__img {
  border-radius: 9.52% 76.19% 9.52% 9.52%/7.84% 62.74% 7.84% 7.84%;
}

:is(:nth-child(8n + 4), :nth-child(8n + 5)).card .card__img {
  border-radius: 9.52% 9.52% 76.19% 9.52%/7.84% 7.84% 70.58% 7.84%;
}

:is(:nth-child(8n + 7)).card .card__img {
  border-radius: 19.05% 19.05% 85.71% 85.71%/15.69% 15.69% 70.59% 70.59%;
}

:where(:nth-child(4n + 1), :nth-child(4n + 2)).card {
  animation: LTR 0.5s linear;
}

:where(:nth-child(4n + 3), :nth-child(4n)).card {
  animation: RTL 0.5s linear;
}

@keyframes LTR {
  0% {
    transform: translate(-300px, -200px) scale(1.2);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes RTL {
  0% {
    transform: translate3d(300px, 200px, 0) scale(1);
  }
  100% {
    transform: translate(0, 0);
  }
}
