.home__city-slider {
  position: relative;
  padding-top: 150px;
}
.mySwiper {
  width: 100vw;
  height: 280px;
}

.home__img {
  position: fixed;
  width: 240px;
  aspect-ratio: 1;
  left: 0;
  top: 450px;
  transform: translateY(-50%);
}

.home__img2 {
  position: fixed;
  width: 250px;
  aspect-ratio: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  a {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1.2em;
    img {
      height: calc(100% - 50px);
      aspect-ratio: 3/4;
      border-radius: 100vw;
      object-fit: cover;
      object-position: center;
      z-index: -2;
      border: 5px solid #534b41;
      &:hover {
        rotate: 5deg;
      }
    }
  }
  &.swiper-slide-prev {
    opacity: 0;
    scale: 0;
  }
  &.swiper-slide-active {
    scale: 1;
    translate: -15px;
  }
  &.swiper-slide-next {
    scale: 0.5;
  }

  flex-direction: column;
}

.swiper-slide a .desc {
  opacity: 0;
  scale: 0;
  width: min(100%, 400px);
  transform-origin: bottom right;
  font-size: 20px;
  transform: translate(40%, -50%);
  background-color: #fff;
}

.swiper-slide.swiper-slide-active a .desc {
  opacity: 1;
  scale: 1;
}

@media screen and (min-width: 300px) {
  .mySwiper {
    height: 320px;
  }
}

@media screen and (min-width: 600px) {
  .mySwiper {
    height: 500px;
  }
}

@media screen and (min-width: 800px) {
  .mySwiper {
    height: 600px;
  }
  .swiper-slide {
    a {
      img {
        border: 8px solid #534b41;
      }
    }
  }
  .home__img {
    width: 250px;
    z-index: 1;
  }

  .home__img2 {
    width: 200px;
    z-index: 1;
  }
}

@media screen and (min-width: 1200px) {
  .mySwiper {
    height: 800px;
  }
  .home__city-slider {
    padding-top: 200px;
  }
  .home__img {
    width: 350px;
  }

  .home__img2 {
    width: 300px;
  }
}
