.loading {
  position: fixed;
  inset: 0;
  z-index: 11;
  pointer-events: none;
  background-color: var(--milktea-bg);
  display: grid;
  place-items: center;
}

.progress-bar {
  position: relative;
  height: 1px;
  width: 200px;
  background-color: rgb(126, 60, 9);
  border-radius: 25px;
  rotate: 330deg;
}

.progress-fill {
  position: absolute;
  height: 1px;
  width: 0%;
  animation: progress-forward 1.2s infinite;
  background-color: rgb(255, 244, 223);
  border-radius: 15px;
}

@keyframes progress-forward {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
} ;
