.menu-container {
  position: fixed;
  z-index: 5;
  inset: 0;
  background-color: var(--matcha-bg);
  padding-inline: 12px;
  padding-block: 100px 280px;
  font-size: 2rem;
  perspective: 400px;
  animation: MenuIn 0.5s ease-in-out forwards;
  a {
    text-transform: uppercase;
  }
}

.menu__items {
  display: grid;
  grid-template-columns: repeat(2, calc((100vw - 12px - 24px) / 2));
  grid-template-rows: repeat(4, 60px);
  gap: 12px;
}

.menu__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: "";
    border: 1px solid black;
    border-radius: 60px;
    transition: background-color 0.2s ease-in-out;
  }
  &__img {
    height: 100%;
    border-radius: 50%;
  }
  &__name {
    padding-right: 20px;
    font-size: 18px;
    width: calc(100% - 20px);
  }
  &:hover {
    &::after {
      background-color: black;
    }

    color: var(--matcha-bg);
  }
}

.menu__links {
  width: 100%;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
    bottom: 0;
  }
}

.menu__link:last-child .menu__link__name {
  &::after {
    scale: 0;
  }
}

.menu__link__name {
  position: relative;
  font-size: 16px;
  &::after {
    position: absolute;
    content: url("../asset/images/curveArrow.svg");
    scale: 0.9;
  }
}
.menu__link__icon {
  width: 36px;
  display: grid;
  place-items: center;
  img {
    width: 16px;
    height: 16px;
  }
}

@media (min-width: 644px) {
  .menu__items {
    gap: 16px 16px;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
    grid-template-rows: repeat(3, calc((100vw - 112px - 32px) / 8));
  }
  .menu__item {
    &::after {
      border-radius: calc((100vw - 112px - 32px) / 8);
    }
  }
  .menu__links {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
    height: 48px;
    gap: var(--p);
  }

  .menu__link {
    &::after {
      height: 2px;
    }
  }
  .menu__link__icon {
    width: 48px;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .menu__link:last-child .menu__link__name {
    &::after {
      scale: 0.9;
    }
  }
}

@media screen and (min-width: 1024px) {
  .menu__items {
    grid-template-columns: repeat(4, calc((100% - 48px) / 4));
    grid-template-rows: repeat(2, calc((100vw - 112px - 32px) / 8));
  }
}

@keyframes MenuIn {
  0% {
    transform: scale3d(-1.4, 0.4, 0.7);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes MenuOut {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(-0.4, 1, 0.7);
  }

  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
