.menu-container {
  position: fixed;
  z-index: 5;
  inset: 0;
  background-color: var(--matcha-bg);
  display: grid;
  place-items: center;
  padding-block: 100px 280px;
  font-size: 2rem;
  perspective: 400px;
  animation: sidebarIn 0.5s ease-in-out forwards;
  a {
    text-transform: uppercase;
  }
}

@media screen and (min-width: 800px) {
  .menu-container {
    padding-block: 137px 280px;
    padding-left: 120px;
  }
}

@keyframes sidebarIn {
  0% {
    transform: scale3d(-1.4, 0.4, 0.7);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes sidebarOut {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(-0.4, 1, 0.7);
  }

  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
