@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBg-text: hsl(60, 100%, 71%);
  --lightBg-text: hsl(173, 61%, 11%);
  --matcha-bg: hsl(62, 20%, 65%);
  --milktea-bg: hsl(39, 28%, 76%);
  --p: 15px;
  --color-background: #000000;
  --color-text: #ffffff;
}

#root {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
  cursor: default;
}

body {
  background-color: var(--milktea-bg);
}

a {
  text-decoration: none;
  color: currentColor;
  text-align: center;
}

li {
  list-style-type: none;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

.venue-bg {
  background-color: var(--matcha-bg);
}

.exhibition-bg {
  background-color: var(--milktea-bg);
}

button {
  padding: none;
  border: none;
  background-color: transparent;
  color: currentColor;
}

a,
button {
  cursor: pointer;
}

.goback {
  background-color: transparent;
}

.opacity-0 {
  opacity: 0;
  transform: translateY(-200px);
  transition: all 0.5s ease-in-out;
}

.opacity-1 {
  opacity: 1;
  transform: translateY(0);
  will-change: transform;
  transition: all 0.5s ease-in-out;
}

.br-20p {
  border-radius: 20px;
}

.pb-15 {
  padding-bottom: var(--p);
}

.pb-45 {
  padding-bottom: calc(var(--p) * 3);
}

.pi-15 {
  padding-inline: var(--p);
}

.pi-20 {
  padding-inline: 20px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-150 {
  padding-top: 150px;
}

.pt-200 {
  padding-top: 200px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.df {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: calc(var(--p) * 2);
}

.nav__link:hover {
  color: rgb(98, 83, 55);
}

@media screen and (min-width: 450px) {
  .card-container {
    width: min(100% - 100px, 1150px);
    grid-template-columns: repeat(2, 1fr);
    padding-inline: 50px;
    gap: calc(var(--p) * 3);
  }
}
@media screen and (min-width: 800px) {
  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .twillBg {
    background-image: repeating-linear-gradient(-65deg, hsl(26, 30%, 65%) 0px, hsl(26, 30%, 65%) 20px, hsl(26, 30%, 55%) 20px, hsl(26, 30%, 55%) 22px);
  }
}
@media screen and (min-width: 1200px) {
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
.twillBg {
  background-image: repeating-linear-gradient(-65deg, hsl(26, 30%, 65%) 0px, hsl(26, 30%, 65%) 10px, hsl(26, 30%, 55%) 10px, hsl(26, 30%, 55%) 15px);
}

.strokeText {
  color: transparent;
  -webkit-text-stroke: 1px var(--lightBg-text);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
  transition: all 1.2s ease-in-out 0.1s;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.home__header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 150px;
  display: grid;
  place-items: center;
  text-transform: uppercase;
}

.home__nav-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__nav {
  display: none;
  width: 600px;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  place-items: center;
  padding-top: calc(var(--p) * 2);
  padding-inline: 50px;
}
.home__nav a {
  width: 100%;
}

.home__header .logoSvg {
  width: 90%;
  transform: translate(5%, 20%);
}

.home .menuSvg2 {
  position: fixed;
  right: 5%;
  top: 10px;
  z-index: 6;
}

.home .menuSvg1 {
  width: 60px;
  height: 60px;
  position: fixed;
  top: 5%;
  left: 5%;
  z-index: 6;
  display: none;
  color: var(--lightBg-text);
}
.home .menuSvg1 path {
  stroke: currentColor;
}
.home .menuSvg1 path:nth-child(1) {
  filter: drop-shadow(2px 2px 0px rgb(219, 150, 150)) drop-shadow(4px 3px 0px rgb(154, 146, 117)) drop-shadow(5px 4px 0px rgb(98, 72, 6));
}
.home .menuSvg1 path:nth-child(2) {
  fill: currentColor;
}

.home .nav-desktop .menuSvg2 {
  width: 50px;
  transform: translate(-5px, -10px);
}

.info-title {
  width: min(100% - 100px, 1100px);
  margin-block: 50px;
  height: 100px;
}
.info-title h1 {
  position: relative;
  font-size: 1.5rem;
  letter-spacing: 5px;
  line-height: 1.5rem;
}
.info-title h1:after {
  z-index: 0;
  content: "";
  inset: auto;
  width: 50px;
  height: 20px;
  border-radius: 100%;
  background-color: var(--darkBg-text);
  transform: rotate(-45deg);
}

@media screen and (min-width: 300px) {
  .info-title h1::after {
    position: absolute;
  }
}
@media screen and (min-width: 390px) {
  .info-title {
    padding-inline: 50px;
  }
  .info-title h1:after {
    transform: rotate(-45deg) translate(-30px, 0px);
  }
}
@media screen and (min-width: 600px) {
  .info-title h1 {
    font-size: 2rem;
  }
}
@media screen and (min-width: 800px) {
  .home svg.menuSvg1 {
    display: block;
  }
  .home__nav {
    display: grid;
    z-index: 4;
  }
  .home .logoSvg {
    transform: translate(10%, 0%);
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .home svg.menuSvg1 {
    transform: scale(1.2);
  }
  .home__nav {
    gap: var(--p);
  }
  .home .logoSvg {
    transform: translate(10%, -5%);
    width: 70%;
  }
}
.modal-container {
  position: fixed;
  display: grid;
  place-items: center;
  inset: 0;
  z-index: 6;
  background-color: rgba(43, 25, 6, 0.3);
  transition: all 0.2s ease-in-out;
}

.modal {
  position: relative;
  width: min(90%, 400px);
  background-color: rgb(219, 203, 174);
  border: 3px solid hsl(35, 11%, 22%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  overflow: hidden;
  will-change: transform, scale;
  animation: modalMoveIn 0.6s linear forwards;
}

.modal dl {
  display: flex;
}

@keyframes modalMoveIn {
  0% {
    transform: translate3d(0, 100vh, 0) scale(0);
  }
  80% {
    transform: translate3d(0, -10%, 0) scale(1);
  }
  90% {
    transform: translate3d(0, 15%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modalMoveOut {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
  }
  100% {
    transform: translate3d(-100vw, 0, 0) scale(0);
  }
}
.modal__img {
  width: 100%;
  aspect-ratio: 1;
}
.modal__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.modal__desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: flex-start;
  padding-inline: 20px;
  padding-block: 10px;
}

.modal__tags {
  display: flex;
  gap: 5px;
}

.modal__tag {
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid hsl(35, 11%, 22%);
}

.modal__about {
  padding-block: 10px;
}

.modal--exhibition {
  padding-inline: 20px;
}
.modal--exhibition .modal__about:last-child p {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(91, 84, 75);
}
.modal--exhibition p {
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.card {
  width: 100%;
  text-align: left;
  color: hsl(82, 37%, 17%);
}
.card h2,
.card h3 {
  padding-top: 5px;
}

.card__img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/4;
  cursor: pointer;
}
.card__img:hover {
  rotate: -10deg;
}

:is(:nth-child(8n+1),
:nth-child(8n+3),
:nth-child(8n+6),
:nth-child(8n)).card .card__img {
  border-radius: 85.71% 85.71% 19.05% 19.05%/70.59% 70.59% 15.69% 15.69%;
}

:is(:nth-child(8n+2)).card .card__img {
  border-radius: 9.52% 76.19% 9.52% 9.52%/7.84% 62.74% 7.84% 7.84%;
}

:is(:nth-child(8n+4), :nth-child(8n+5)).card .card__img {
  border-radius: 9.52% 9.52% 76.19% 9.52%/7.84% 7.84% 70.58% 7.84%;
}

:is(:nth-child(8n+7)).card .card__img {
  border-radius: 19.05% 19.05% 85.71% 85.71%/15.69% 15.69% 70.59% 70.59%;
}

:where(:nth-child(4n+1), :nth-child(4n+2)).card {
  animation: LTR 0.5s linear;
}

:where(:nth-child(4n+3), :nth-child(4n)).card {
  animation: RTL 0.5s linear;
}

@keyframes LTR {
  0% {
    transform: translate(-300px, -200px) scale(1.2);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes RTL {
  0% {
    transform: translate3d(300px, 200px, 0) scale(1);
  }
  100% {
    transform: translate(0, 0);
  }
}
.closedFilter {
  position: relative;
}
.closedFilter > *:not(img) {
  color: hsl(82, 37%, 27%);
}
.closedFilter > h2::after {
  z-index: 1;
  position: absolute;
  margin-left: 5px;
  border: 2px solid currentColor;
  border-radius: 100%;
  font-size: 15px;
  color: currentColor;
  content: "休";
  mix-blend-mode: difference;
  transform: translateY(5px) rotate(45deg);
}

.banner {
  transform: translate3d(0, 100px, 0);
  width: 100%;
  height: calc(100vh - 100px);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  overflow: hidden;
}

.test {
  color: wheat;
  text-align: center;
  line-height: 30px;
  border-style: solid;
  border-color: transparent transparent #32557f transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  transform: translate3d(10%, 120px, 0);
  font-size: 8px;
}
.test::after {
  content: "";
  position: absolute;
  top: 25px;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: #32557f transparent transparent transparent;
  border-width: 70px 50px 0 50px;
}

@media screen and (min-width: 800px) and (min-height: 440px) {
  .test {
    border-width: 0 40px 40px 40px;
    width: 80px;
    line-height: 40px;
  }
  .test::after {
    top: 40px;
    left: -40px;
    border-width: 112px 80px 0 80px;
  }
}
.home__city-slider {
  position: relative;
  padding-top: 150px;
}

.homeSwiper {
  width: 100vw;
  height: 280px;
}
.homeSwiper .swiper-slide {
  position: relative;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;
  flex-direction: column;
}
.homeSwiper .swiper-slide a {
  width: 100%;
  height: 100%;
  position: relative;
  font-size: 1.2em;
}
.homeSwiper .swiper-slide a img {
  width: 172.5px;
  height: 230px;
  aspect-ratio: 3/4;
  border-radius: 100vw;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: -2;
  background-color: var(--lightBg-text);
  border: 5px solid #534b41;
}
.homeSwiper .swiper-slide a img:hover {
  rotate: 5deg;
}
.homeSwiper .swiper-slide.swiper-slide-prev {
  opacity: 0;
  transform: scale(0);
}
.homeSwiper .swiper-slide.swiper-slide-active {
  transform: scale(1) translate(-15px);
}
.homeSwiper .swiper-slide.swiper-slide-next {
  transform: scale(0.5);
}

.home__clickImg {
  position: fixed;
  width: 240px;
  aspect-ratio: 1;
  left: 0;
  top: 450px;
  transform: translateY(-50%);
}

.home__clickImg2 {
  position: fixed;
  width: 250px;
  aspect-ratio: 1;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width: 300px) {
  .homeSwiper {
    height: 320px;
  }
  .homeSwiper .swiper-slide a img {
    width: 202.5px;
    height: 270px;
  }
}
@media screen and (min-width: 600px) {
  .homeSwiper {
    height: 500px;
  }
  .homeSwiper .swiper-slide a img {
    width: 337.5px;
    height: 450px;
  }
}
@media screen and (min-width: 800px) {
  .homeSwiper {
    height: 600px;
  }
  .homeSwiper .swiper-slide a img {
    width: 412.5px;
    height: 550px;
    border-width: 8px;
  }
  .home__clickImg {
    width: 250px;
    z-index: 1;
  }
  .home__clickImg2 {
    width: 200px;
    z-index: 1;
  }
}
@media screen and (min-width: 1200px) {
  .homdSwiper {
    height: 800px;
  }
  .homdSwiper .swiper-slide a img {
    width: 562.5px;
    height: 750px;
  }
  .home__city-slider {
    padding-top: 200px;
  }
  .home__clickImg {
    width: 350px;
  }
  .home__clickImg2 {
    width: 300px;
  }
}
.menu-container {
  position: fixed;
  z-index: 10;
  inset: 0;
  background-color: var(--matcha-bg);
  padding-inline: 12px;
  padding-block: 100px 280px;
  font-size: 2rem;
  perspective: 400px;
  animation: MenuIn 0.5s ease-in-out forwards;
}
.menu-container a {
  text-transform: uppercase;
}

.menu__items {
  display: grid;
  grid-template-columns: repeat(2, calc((100vw - 12px - 24px) / 2));
  grid-template-rows: repeat(4, 60px);
  gap: 12px;
}

.menu__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  content: "";
  border: 1px solid black;
  border-radius: 60px;
  transition: background-color 0.2s ease-in-out;
}
.menu__item__img {
  height: 100%;
  border-radius: 50%;
}
.menu__item__name {
  padding-right: 20px;
  font-size: 18px;
  width: calc(100% - 20px);
}
.menu__item:hover {
  color: var(--matcha-bg);
}
.menu__item:hover::after {
  background-color: black;
}

.menu__links {
  width: 100%;
}

.menu__link {
  position: relative;
  display: flex;
  align-items: center;
  height: 36px;
}
.menu__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  bottom: 0;
}

.menu__link:last-child .menu__link__name::after {
  transform: scale(0);
}

.menu__link__name {
  position: relative;
  font-size: 16px;
}
.menu__link__name::after {
  position: absolute;
  content: url("../asset/images/curveArrow.svg");
  transform: scale(0.9);
}

.menu__link__icon {
  width: 36px;
  display: grid;
  place-items: center;
}
.menu__link__icon img {
  width: 16px;
  height: 16px;
}

@media (min-width: 644px) {
  .menu__items {
    gap: 16px 16px;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
    grid-template-rows: repeat(3, calc((100vw - 112px - 32px) / 8));
  }
  .menu__item::after {
    border-radius: calc((100vw - 112px - 32px) / 8);
  }
  .menu__links {
    display: grid;
    grid-template-columns: repeat(3, calc((100% - 32px) / 3));
    height: 48px;
    gap: var(--p);
  }
  .menu__link::after {
    height: 2px;
  }
  .menu__link__icon {
    width: 48px;
  }
  .menu__link__icon img {
    width: 20px;
    height: 20px;
  }
  .menu__link:last-child .menu__link__name::after {
    transform: scale(0.9);
  }
}
@media screen and (min-width: 1024px) {
  .menu__items {
    grid-template-columns: repeat(4, calc((100% - 48px) / 4));
    grid-template-rows: repeat(2, calc((100vw - 112px - 32px) / 8));
  }
}
@keyframes MenuIn {
  0% {
    transform: scale3d(-1.4, 0.4, 0.7);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes MenuOut {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(-0.4, 1, 0.7);
  }
  100% {
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
}
.venue__img {
  width: min(90%, 450px);
  aspect-ratio: 3/4;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.venueInfo {
  width: 100%;
  display: grid;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .venueInfo {
    width: min(100% - 100px, 1150px);
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    text-align: left;
  }
  .venue__desc {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 300px;
    padding-inline: 30px;
  }
  .venue__desc img {
    position: absolute;
    width: 100px;
    top: -20px;
    right: 50%;
  }
  .venue__img {
    border-top-right-radius: 50%;
  }
}
.venue__desc__img {
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media screen and (min-width: 1000px) {
  .venue__desc img {
    position: absolute;
    right: 60%;
    transform: scale(2) translateX(90px);
  }
}
.venue__imgContainer {
  position: relative;
  width: 100%;
  display: grid;
  place-items: center;
}

@media screen and (width: 540px) and (height: 720px) {
  .venueInfo {
    padding-top: 0 !important;
  }
}
.footer-container {
  min-height: 100px;
  background-color: hsl(39, 18%, 36%);
}
.footer-container small {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}

footer {
  position: relative;
  display: grid;
  place-items: center;
  gap: 20px;
}
footer .pureLogoSvg {
  padding-top: 30px;
  width: 50%;
}

.footer__nav {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.footer__nav a {
  position: relative;
  text-transform: uppercase;
}

@media screen and (min-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
.page-header {
  width: 100%;
  max-width: 100%;
  height: 120px;
  position: fixed;
  z-index: 2;
  inset: -2px auto;
}
.page-header .menuSvg2 {
  width: 50px;
  padding-left: var(--p);
  padding-top: var(--p);
}

.nav-desktop {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.nav-desktop > .menuSvg2 {
  position: absolute;
  top: 50%;
  right: var(--p);
  width: 50px;
  height: 50px;
}

.nav-desktop .goToback-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: transparent;
}
.nav-desktop .goToback-btn .lifezoneSvg {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
}
.nav-desktop .goToback-btn .arrowSvg {
  width: 40px;
  inset: 35% 30%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.nav__center {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  padding-block: 60px;
  gap: calc(var(--p) * 2);
}
.nav__center .pureLogoSvg {
  width: 0%;
}

.nav-container {
  justify-self: center;
  text-transform: uppercase;
}
.nav-container a {
  padding-right: var(--p);
}

.menuBtn {
  position: fixed;
  right: 10px;
}

@media screen and (min-width: 800px) {
  .nav-desktop {
    display: flex;
  }
  .nav-desktop .goToback-btn {
    width: 150px;
    height: 150px;
  }
  .nav-desktop .arrowSvg {
    width: 50px;
    inset: 35% 35%;
  }
  .nav__center {
    gap: calc(var(--p) * 4);
  }
}
@media screen and (min-width: 290px) {
  .nav__center .pureLogoSvg {
    width: 60%;
  }
}
@media screen and (min-width: 1200px) {
  .nav__center {
    place-items: center;
    transform: translateY(30px);
    gap: calc(var(--p) * 5);
  }
  .nav-desktop > .menuSvg2 {
    top: 50%;
    right: calc(var(--p) * 2);
    width: 50px;
    height: 50px;
  }
  .nav-desktop .goToback-btn {
    z-index: 555;
  }
  .menuBtn {
    top: var(--p);
    right: 5%;
  }
  .page-header .menuSvg2 {
    width: 65px;
  }
}
.ball {
  position: relative;
}
.ball::after {
  position: absolute;
  width: 5px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: rgb(97, 64, 22);
  content: "";
  bottom: -5px;
  left: calc(50% - 7.5px);
}

.loading {
  position: fixed;
  inset: 0;
  z-index: 11;
  pointer-events: none;
  background-color: var(--milktea-bg);
  display: grid;
  place-items: center;
}

.progress-bar {
  position: relative;
  height: 1px;
  width: 200px;
  background-color: rgb(126, 60, 9);
  border-radius: 25px;
  rotate: 330deg;
}

.progress-fill {
  position: absolute;
  height: 1px;
  width: 0%;
  animation: progress-forward 1.2s infinite;
  background-color: rgb(255, 244, 223);
  border-radius: 15px;
}

@keyframes progress-forward {
  0% {
    width: 0%;
  }
  25% {
    width: 50%;
  }
  50% {
    width: 75%;
  }
  75% {
    width: 85%;
  }
  100% {
    width: 100%;
  }
}
.cardSwiper {
  position: relative;
  width: 100%;
  aspect-ratio: 0.7;
  transition: all 0.8s ease-in-out;
}
.cardSwiper:nth-child(4n+2), .cardSwiper:nth-child(4n+3) {
  border-top-left-radius: 80%;
}
.cardSwiper:nth-child(4n+1), .cardSwiper:nth-child(4n) {
  border-top-right-radius: 80%;
}
.cardSwiper:hover {
  border-radius: 5px;
}
.cardSwiper:hover .artcle__tag {
  background-color: rgb(67, 66, 10);
  color: var(--milktea-bg);
}
.cardSwiper .swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, 0% var(--lightBg-text), 80% transparent);
}
.cardSwiper .swiper-slide img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  background-color: var(--lightBg-text);
  top: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.cardSwiper__article {
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-block: 10px;
  padding-left: 5px;
  gap: 10px;
  color: black;
  font-size: 10px;
}
.cardSwiper__article h2 {
  font-size: 16px;
  text-overflow: ellipsis;
  color: rgb(56, 30, 8);
}

.artcle__tag {
  border: 1px solid;
  border-radius: 20px;
  padding-inline: 10px;
  padding-block: 3px;
  margin-right: 5px;
  color: rgb(67, 66, 10);
  background-color: transparent;
  transition: background 0.3s ease-in-out;
}

@media screen and (min-width: 820px) {
  .cardSwiper {
    aspect-ratio: 0.65;
  }
  .cardSwiper .swiper-slide {
    background-image: linear-gradient(to bottom, 0% var(--lightBg-text), 70% transparent);
  }
  .cardSwiper__article {
    height: 35%;
  }
}
@media screen and (min-width: 920px) {
  .cardSwiper {
    aspect-ratio: 0.7;
  }
  .cardSwiper .swiper-slide {
    background-image: linear-gradient(to bottom, 0% var(--lightBg-text), 70% transparent);
  }
  .cardSwiper__article {
    height: 30%;
  }
}
.artist__filters {
  padding-top: calc(60px + 10vh);
  padding-bottom: 50px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  justify-content: center;
  width: min(90%, 650px);
  cursor: pointer;
}

.artist__filter {
  padding: 3px 10px;
  border-radius: 20px;
  border: 1px solid;
}
.artist__filter:hover, .artist__filter--active {
  background-color: rgb(54, 29, 3);
  color: var(--milktea-bg);
}

.artist__name {
  position: fixed;
  right: -15px;
  top: 40%;
  letter-spacing: 5vh;
  font-size: 30px;
  font-family: fantasy;
  color: transparent;
  -webkit-text-stroke: 1px var(--lightBg-text);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  writing-mode: vertical-rl;
  transition: transform 0.5s ease-in-out;
}
.artist__name:hover {
  transform: translate3d(-20px, 0, 0);
}

.artist__empty {
  position: absolute;
  width: 200px;
  bottom: 0;
  right: 50px;
}

@media screen and (min-width: 600px) and (min-height: 300px) {
  .artist__empty {
    top: 450px;
    right: 50px;
    width: 400px;
  }
  .artist__filters {
    padding-top: calc(120px + 10vh);
  }
}
@media screen and (min-width: 600px) and (min-height: 800px) {
  .artist__filters {
    padding-top: calc(60px + 10vh);
  }
}
@media screen and (min-width: 1000px) {
  .artist__filters {
    padding-top: calc(80px + 10vh);
  }
}
@media screen and (min-width: 1200px) {
  .artist__empty {
    width: 300px;
    right: 100px;
    transform: translate3d(0, -25%, 0);
  }
  .artist__filters {
    padding-top: calc(130px + 10vh);
  }
}
@media screen and (min-width: 1000px) and (max-height: 700px) {
  .artist__empty {
    width: 150px;
    right: 20px;
  }
}
.pageTransition {
  position: fixed;
  inset: 0;
  z-index: 11;
  display: grid;
  pointer-events: none;
}
.pageTransition div {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
  transform-origin: right;
  animation-name: fadeDiv;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  will-change: transform;
}
.pageTransition div:first-child {
  animation-delay: 0.6s;
  background-color: black;
}
.pageTransition div:nth-child(3n+2) {
  animation-delay: 0.4s;
  background-color: var(--darkBg-text);
}
.pageTransition div:nth-child(3n) {
  animation-delay: 0.2s;
  background-color: var(--milktea-bg);
}

@keyframes fadeDiv {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.5, 1);
  }
  90% {
    transform: scale(0.01, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
.exhibition__Btn {
  position: fixed;
  rotate: 90deg;
  font-size: 1rem;
}

.currentBtn {
  top: 40vh;
  left: 5px;
}

.upComingBtn {
  top: 75vh;
  left: 0px;
}/*# sourceMappingURL=style.css.map */