* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBg-text: hsl(60, 100%, 71%);
  --lightBg-text: hsl(173, 61%, 11%);
  --matcha-bg: hsl(62, 20%, 59%);
  --milktea-bg: hsl(39, 28%, 76%);
  --p: 15px;
}

#root {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: var(--milktea-bg);
}

a {
  text-decoration: none;
  color: currentColor;
  text-align: center;
  &:hover {
    color: rgb(98, 83, 55);
  }
}
li {
  list-style-type: none;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

.venue-bg {
  background-color: var(--matcha-bg);
  transition: all 0.5s ease-in-out;
}

.exhibition-bg {
  background-color: var(--milktea-bg);
  transition: all 0.5s ease-in-out;
}

button {
  padding: none;
  border: none;
  background-color: transparent;
  color: currentColor;
}

.goback {
  background-color: transparent;
}

.closedFilter {
  position: relative;

  & > *:not(img) {
    color: hsl(82, 37%, 27%);
  }

  > h2::after {
    z-index: 1;
    position: absolute;
    margin-left: 5px;
    border: 2px solid currentColor;
    border-radius: 100%;
    font-size: 15px;
    color: currentColor;
    content: "休";
    mix-blend-mode: difference;
    transform: translateY(5px) rotate(45deg);
  }
}

@import "./utilities";
@import "./home";
@import "./modal";
@import "./card";
@import "./city";
@import "./homeSwiper";
@import "./menu";
@import "./venuInfo";

.banner {
  transform: translate3d(0, 100px, 0);
  width: 100%;
  height: calc(100vh - 100px);
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.test {
  color: wheat;
  text-align: center;
  line-height: 30px;
  border-style: solid;
  border-color: transparent transparent #32557f transparent;
  border-width: 0 25px 25px 25px;
  height: 0;
  width: 50px;
  box-sizing: content-box;
  position: relative;
  transform: translate3d(10%, 120px, 0);
  font-size: 8px;

  &::after {
    content: "";
    position: absolute;
    top: 25px;
    left: -25px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #32557f transparent transparent transparent;
    border-width: 70px 50px 0 50px;
  }
}

@media screen and (min-width: 800px) and (min-height: 440px) {
  .test {
    border-width: 0 40px 40px 40px;
    width: 80px;
    line-height: 40px;
    &::after {
      top: 40px;
      left: -40px;
      border-width: 112px 80px 0 80px;
    }
  }
}

.ball {
  position: relative;
  &::after {
    position: absolute;
    width: 5px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(97, 64, 22);
    content: "";
    bottom: -5px;
    left: calc(50% - 7.5px);
  }
}

.footer-container {
  min-height: 100px;
  background-color: hsl(39, 18%, 36%);
  small {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
}
footer {
  position: relative;
  display: grid;
  place-items: center;
  gap: 20px;
  .pureLogoSvg {
    padding-top: 30px;
    width: 50%;
  }
}

.footer__nav {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  a {
    position: relative;
    text-transform: uppercase;
  }
}

@media screen and (min-width: 800px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
