* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBg-text: hsl(60, 100%, 71%);
  --lightBg-text: hsl(173, 61%, 11%);
  --matcha-bg: hsl(62, 20%, 59%);
  --milktea-bg: hsl(39, 28%, 76%);
  --p: 15px;
}

#root {
  width: 100%;
  font-family: "Noto Sans TC", sans-serif;
}

body {
  background-color: var(--milktea-bg);
}

a {
  text-decoration: none;
  color: currentColor;
  text-align: center;
  &:hover {
    color: rgb(98, 83, 55);
  }
}
li {
  list-style-type: none;
}

.main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 400;
}

.venue-bg {
  background-color: var(--matcha-bg);
  transition: all 0.5s ease-in-out;
}

.exhibition-bg {
  background-color: var(--milktea-bg);
  transition: all 0.5s ease-in-out;
}

button {
  padding: none;
  border: none;
  background-color: transparent;
  color: currentColor;
}

.goback {
  background-color: transparent;
}

.closedFilter {
  position: relative;

  & > *:not(img) {
    color: hsl(82, 37%, 27%);
  }

  > h2::after {
    z-index: 1;
    position: absolute;
    margin-left: 5px;
    border: 2px solid currentColor;
    border-radius: 100%;
    font-size: 15px;
    color: currentColor;
    content: "休";
    mix-blend-mode: difference;
    transform: translateY(5px) rotate(45deg);
  }
}

@import "./utilities";
@import "./home";
@import "./modal";
@import "./card";
@import "./city";
@import "./homeSwiper";
@import "./menu";
@import "./venuInfo";
@import "./footer";
@import "./pageHeader";
