<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta
      name="description"
      content="以展覽為圓心走進三座城市的藝文生活圈，內容包含場域與當期展覽，以及YANYANGIRL遇見的台灣創作者。"
    />
    <link rel="favicon" href="favicon/favicon.ico" />
    <link rel="shortcut icon" href="favicon/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="favicon/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Modak&family=Noto+Sans+TC:wght@400;500&display=swap"
      rel="stylesheet"
    />

    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="manifest.json" />
    <title>YANYANGIRL</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
