<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta name="author" content="YangunLi李尉誼" />
    <meta
      name="description"
      content="朝向成為關注臺灣藝文裡最可愛的網站，內容除了新鮮的展訊外，亦有藝文相關的空間，以及數年累積下來的展覽紀錄。目前城市關注藝文熱絡發展的臺北、臺中、臺南，創作者則是以在臺創作的藝術家們為主，是以這些內容為擴展的存在。那麼，今天就去看展吧！"
    />
    <link
      sizes="64x64 32x32 24x24 16x16"
      rel="favicon"
      href="favicon/favicon.ico"
    />
    <link rel="icon" href="favicon/favicon.ico" />
    <link rel="apple-touch-icon" href="favicon/apple-touch-icon" />
    <link rel="shortcut icon" href="favicon/favicon.ico" sizes="any maskable" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="favicon/manifest.json" />
    <title>YANYANGIRL</title>
    <meta
      name="google-site-verification"
      content="EvSPH35e0UFRU-7Orj0Fz93Hmznc5HyAI9KWtqx9DZQ"
    />
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
